<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <a href="#home" class="active">Home</a>
        <a href="">Project List</a>
        <a href="create">Add Project</a>
        <a href="#about">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
        </div>
        
  
</div>