{% extends 'base.html'%}
{% load static %}
{% block content %}

<br>
<div class="container">
    <div class="row">
        <h5>Categories</h5>
        <div class="filters">
            <button class="btn btn-default filter-button" data-filter=""><a href="{% url 'photo_list' %}">All</a></button>
            <button class="btn btn-default filter-button" data-filter=""><a href="{% url 'fashion' %}">Fashion</a></button>
            <button class="btn btn-default filter-button" data-filter=""><a href="{% url 'travel' %}">Travel</a></button>
            <button class="btn btn-default filter-button" data-filter=""><a href="{% url 'sports' %}">Sports</a></button>
            <button class="btn btn-default filter-button" data-filter=""><a href="{% url 'family' %}">Family</a></button>
            <button class="btn btn-default filter-button" data-filter=""><a href="{% url 'landscape' %}">Landscape</a></button>
            
        </div>

    </div>
{% for photo in photos %}
<div class="card border-primary mb-3" style="width: 18rem;">
    <div class="card-group">
    
        <div class="card">
            <a href="{% url 'photo' photo.pk %}"><img class="card-img-top" src="{{ photo.image.url }}" alt="Card image cap" height="250" width="160" id="photo" onclick="resetImg()"></a>
            <div class="card-body">
                <h5 class="card-title">Title: {{photo.label}}</h5>
                <p class="card-text">Caption: {{photo.description}}</p>
                <p class="card-text">Category: {{photo.category}}</p>
                <p class="card-footer"><small class="text-muted">Date Taken: {{photo.year_taken}}</small></p>
                <a href="{% url 'photo' photo.pk %}" class="btn btn-primary">Details</a>
                <a href="{% url 'delete' photo.pk %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'update' photo.pk %}" class="btn btn-success">Update</a>
                
            </div>
        </div>
    </div>
</div>
  
  
 {% endfor %}


{% endblock %}