{% extends 'base.html'%}
{% load static %}
{% block content %}

<br>
<div class="container">
    <div class="row">
        <h5>Categories</h5>
        <div class="filters">
            <button class="btn btn-default filter-button" data-filter="all">All</button>
            <button class="btn btn-default filter-button" data-filter="hdpe">Travel</button>
            <button class="btn btn-default filter-button" data-filter="sprinkle">Fashion</button>
            <button class="btn btn-default filter-button" data-filter="spray">Sports</button>
            <button class="btn btn-default filter-button" data-filter="irrigation">Family</button>
            <button class="btn btn-default filter-button" data-filter="irrigation"><form method="GET" action="" id="searchform">
                <input class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search..."/>
            </form></button>
            
        </div>
        <br/>

</div>
{% for photo in photos %}
<div class="card border-primary mb-3" style="max-width: 18rem; display:grid;">
<div class="card-group">
    
    <div class="card">
      <img class="card-img-top" src="{{ photo.image.url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Title: {{photo.label}}</h5>
        <p class="card-text">Caption: {{photo.description}}</p>
        <p class="card-footer"><small class="text-muted">Date Taken: {{photo.year_taken}}</small></p>
        <a href="{% url 'photo' photo.pk %}" class="btn btn-primary">Details</a>
        
      </div>
    </div>
    </div>
  </div>
  
  
 {% endfor %}


{% endblock %}