{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if photos%}
      <h5 style="color: blue;">Found {{ photos |length }} result of searched term {{message}}</h5>
    {% else %}
      <h5> Found 0 photos for the search term {{message}}</h5>
    {% endif %}

  </div>
  {% if photos %}
  <div class="container"></div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Label</th>
            <th>Caption</th>
            <th>Category</th>
            <th>Date Taken</th>
            <th>Action</th>

          </tr>
        </thead>
       
        <tbody>
          {% for photo in photos %}
          <tr>
            <td>{{photo.label}}</td>
            <td>{{photo.description}}</td>
            <td>{{photo.category}}</td>
            <td>{{photo.year_taken}}</td>
            <td><a href="{% url 'photo' photo.pk %}" class="btn btn-primary">Details</a></td>
          </tr>
        </tbody>
        {% endfor %}
      </table>

  
    
      <div class="col-sm-6 col-md-3">
          <h1>{{photo.category}}</h1>
      </div>
    
  {% endif %}
  </div>
</div>
{% endblock %}