{% extends 'base.html' %}

{% block content %}

<br>
<br>


<div class="album">
    <div class="container">
        <h2>Family</h2>
        <div class="row">
        {% for photo in family %}
        <img src="{{photo.image.url }}" width="160" height="180">
        
        {% empty %}
        <h3>There are currently no images under this category</h3>
        {% endfor %}
      </div>
      <a href="{% url 'photo_list' %}"><button class="btn btn-warning">Close</button></a>
          

{% endblock %}